@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== FUENTES ========== */
@font-face {
    font-family: 'sourcesanspro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://design.penpot.app/fonts/sourcesanspro-black.woff) format('woff');
}
@font-face {
    font-family: 'sourcesanspro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://design.penpot.app/fonts/sourcesanspro-regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://design.penpot.app/internal/gfonts/font/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiAo.woff2) format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://design.penpot.app/internal/gfonts/font/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
}

/* ========== VARIABLES CSS ========== */
:root {
    --color-fondo: #1c0770;
    --color-secundario: #261cc1;
    --color-acento: #f1ff5e;
    --color-texto: #ffffff;
}

/* ========== COMPONENTES PERSONALIZADOS ========== */
@layer components {
    .font-titulos {
        font-family: 'sourcesanspro', 'Roboto', sans-serif;
    }

    .font-parrafos {
        font-family: 'Roboto', 'sourcesanspro', sans-serif;
    }
}

/* ========== ESTILOS BASE ========== */
@layer base {
    body {
        font-family: 'sourcesanspro', 'Roboto', sans-serif;
        background: var(--color-fondo);
        color: var(--color-texto);
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }
}

#registerModal input:focus,
#registerModal select:focus,
#registerModal textarea:focus {
    outline: none;
}

#registerModal input.border-green-500:focus,
#registerModal select.border-green-500:focus,
#registerModal textarea.border-green-500:focus {
    --tw-ring-color: #22c55e;
    border-color: #22c55e;
}

#registerModal input.border-red-500:focus,
#registerModal select.border-red-500:focus,
#registerModal textarea.border-red-500:focus {
    --tw-ring-color: #ef4444;
    border-color: #ef4444;
}

/* Menú móvil: al añadir .active se desliza desde la derecha */
#navMobile.active {
    right: 0 !important;
}

/* Overlay: al añadir .active se muestra */
#overlay.active {
    display: block !important;
}

